<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chat room </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="chat">
    <div class="chat__sidebar">
        <h3>People</h3>
        <div id="users"></div>
    </div>
    <div class="chat__main">
        <ol id="messages" class="chat__messages"></ol>
        <div class="chat__footer">
            <form id="message-form">
                <input type="text" name="message" required autofocus autocomplete="off" placeholder="Type message"/>
                <button id="send">Send</button>
            </form>
        </div>
    </div>
</body>
<!-- <script src="/js/libs/jquery-3.3.1.min.js" async></script> -->
<script id="message-template" type="text/template">
    <li class="message">
        <div class="message__title">
            <h4> {{from}} </h4>
            <span> {{createdAt}} </span>
        </div>
        <div class="message__body">
            <p> {{text}} </p>
        </div>
    </li>
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
<script src="/js/libs/moment.js"></script>
<script src="/js/libs/mustache.js"></script>
<script src="/js/libs/deparam.js"></script>
</html>