<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chat app welcome page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
</head>

<body class="centered-form">
    <div class="centered-form__form">
        <form action="/chat.html">
            <div class="form-field">
                <h3>Join a chat</h3>
            </div>
            <div class="form-field">
                <label>Display name</label>
                <input type="text" name="name" autofocus>
            </div>
            <div class="form-field">
                    <label>Room Name</label>
                    <input type="text" name="room">
            </div>
            <div class="form-field">
                <button>Join</button>
            </div>
        </form>
    </div>
</body>
<script id="message-template" type="text/template">
    <li class="message">
        <div class="message__title">
            <h4> {{from}} </h4>
            <span> {{createdAt}} </span>
        </div>
        <div class="message__body">
            <p> {{text}} </p>
        </div>
    </li>
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/libs/deparam.js"></script>
<script src="/js/libs/moment.js"></script>
<script src="/js/libs/mustache.js"></script>

</html>